fastapi
uvicorn
bytez
pydantic
pydantic-settings
python-docx
python-multipart
python-dotenv
pymupdf
sqlalchemy
psycopg2-binary
bcrypt
python-jose[cryptography]
cryptography
email-validator
redis
reportlab
apscheduler
httpx

